<h2><%= @store.name %></h3>

<h3>Store address:</h3>
<p><%= @store.address %></p>

<h3>Store Stock Type:</h3>
<p><%= @store.stock_type %></p>

<a href="/stores/<%= @store.id %>/edit"><button>Edit</button></a>

<form action="/stores/<%= @store.id %>/delete" method="post">
<input type="submit" value="Delete">
</form>


<%= erb(:"pets/index") %>

<%= erb(:"pets/new") %>
